.Person {
  width: 60%;
  margin: 1rem auto;
  border: 1px solid #5e73cb;
  box-shadow: 0 2px 3px #161f60;
  padding: 1rem;
  text-align: center;
  background: lightblue;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}